/* Allow overscroll */
html { padding-bottom: 200px; }

/* Images */
img {
  display: block;
  margin: 0px auto;
  width: 80%;
  height: auto;
}

/* List markers and styling */
article ul, col2 ol {
    padding-left: 4%;
}
article li {
    padding-left: 10px;
}
article li::marker {
    color: rgba(var(--text-color), 0.4);
}
article ul li::marker {
    content: "-";
}
/* Some breaks appear in nested lists, just removing them */
article li ol br, .col2 li ul br {
  display: none;
}
